.container{
  width: 1200px;
  margin: 0 auto;
}
.header{
  background-color: #FFFFFF;
}
.main-menu{
  background-color: #2F303A;
  padding: 200px 452px 280px 452px;
}
.our-advantages{
}
.team{
  padding: 186px 215px 94px 215px;
}
.footer{
  background-color: #2F303A;
  padding: 60px 1154px 161px 215px;
}
.main-menu-btn{
  background-color: #2196F3;
  color: #FFFFFF;
  line-height: 30px; /* 187.5% */
}
h1{
  color: #FFFFFF;
  line-height: 60px; /* 136.364% */
}
.header-nav-link{
  color: black;
}
.header-link{
  color: black;
}
.logo{
  color: black;
}
.footer-logo{
 color: #FFFFFF;
}
.footer-text{
  color: #FFFFFF99;
}
body{
  font-family: Roboto;
  line-height: normal;
}
.logo,.footer-logo{
  font-family: Raleway;
}
.footer-text{
  line-height: 24px; /* 171.429% */
}
