.header{
  background-color: #FFFFFF;
}
.main-menu{
  background-color: #2F303A;
}
.footer{
  background-color: #2F303A;
}
.main-menu-btn{
  background-color: #2196F3;
  color: #FFFFFF;
  line-height: 30px; /* 187.5% */
}
h1{
  color: #FFFFFF;
  line-height: 60px; /* 136.364% */
}
.header-nav-link{
  color: black;
}
.header-link{
  color: black;
}
.logo{
  color: black;
}
.footer-logo{
 color: #FFFFFF;
}
.footer-text{
  color: #FFFFFF99;
}
body{
  font-family: Roboto;
  line-height: normal;
}
.logo,.footer-logo{
  font-family: Raleway;
}
.footer-text{
  line-height: 24px; /* 171.429% */
}